body {
    font-family: "Times New Roman";
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}
